language: python

python:
  - '2.7'
  - '2.6'

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y python-imaging-tk liblua5.1-dev

install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install ordereddict; fi
  - export GITHUB_USER=`echo $TRAVIS_REPO_SLUG | cut -d '/' -f 1`
  - mkdir ~/.pywikibot

  - touch ~/.pywikibot/user-config.py
  - echo "import os" >> ~/.pywikibot/user-config.py
  - echo "mylang = '$LANGUAGE'" >> ~/.pywikibot/user-config.py
  - echo "family = '$FAMILY'" >> ~/.pywikibot/user-config.py
  - echo "usernames['$FAMILY']['$LANGUAGE'] = 'Pywikibot-test'" >> ~/.pywikibot/user-config.py
  - echo "usernames['wikipedia']['en'] = 'Pywikibot-test'" >> ~/.pywikibot/user-config.py
  - echo "password_file = os.path.expanduser('~/.pywikibot/passwordfile')" >> ~/.pywikibot/user-config.py

  - if [ "$GITHUB_USER" != "wikipedia" ]; then git clone https://gist.github.com/ac0d1005e772647b0c76.git get-gist-fork; fi
  - if [ -d get-gist-fork ]; then export GITHUB_CONFIG_GIST=`python get-gist-fork/get-gist-fork.py 'a60f66b97376450bb0e0' "$GITHUB_USER"`; fi
  - if [ -n "$GITHUB_CONFIG_GIST" ]; then git clone "$GITHUB_CONFIG_GIST" user-config; fi
  - if [ -d user-config ]; then rm ~/.pywikibot/user-config.py; fi
  - if [ -d user-config ]; then cp user-config/[a-z]* ~/.pywikibot/; fi
  - echo "=== CONFIG ==="
  - cat ~/.pywikibot/user-config.py

  - touch ~/.pywikibot/passwordfile
  - if [ -n "$USER_PASSWORD" ]; then echo "('Pywikibot-test', '"$USER_PASSWORD"')" > ~/.pywikibot/passwordfile; fi

  - cd externals/httplib2
  - python setup.py install
  - cd ../..

script:
  - if [ -n "$USER_PASSWORD" ]; then python setup.py test; else PYWIKIBOT2_NO_USER_CONFIG=1 nosetests -a '!site,!net' -v ; fi

env:
  global:
    # This is the encrypted password, which can only be decrypted by Travis itself
    # See http://docs.travis-ci.com/user/encryption-keys/
    # And http://docs.travis-ci.com/user/build-configuration/#Secure-environment-variables
    # Command use to generate: travis encrypt USER_PASSWORD=<pwd> -r wikimedia/pywikibot-core
    - secure: kofInMlisiTBt9o/Ustc/vySlkKfxGzGCX2LwA1D2waym8sDTS0o5gMJ5LsrT/BUKwZbe1vLozPHqZrrkQvsdTml+DpZuotzdILs0m0f3BUoexEC6OON5IDljuxFyETrD1Ug44ih5Mc4lVFOdTcBzg501ZmswGwQrBvg/OyEFfE=
  matrix:
    - LANGUAGE=en FAMILY=wikipedia
    - LANGUAGE=ar FAMILY=wikipedia PYSETUP_TEST_EXTRAS=1
    - LANGUAGE=test FAMILY=wikidata

matrix:
  allow_failures:
    - python: "2.6"

notifications:
  irc:
    channels:
      - "chat.freenode.net#pywikibot"
    on_success: change
    on_failure: always
